/* PrismJS 1.24.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 :root {
    --pre-background: #f6f8fa;
    --pre-main-color: #000;
    --punctuation: #000;
    --tag: #116329;
    --attr-name: #0550ae;
    --function-name: #6196cc;
    --attr-value: #0a3069;
    --standard: #000;
}

:root [data-theme='light'] {
    --pre-background: #f6f8fa;
    --pre-main-color: #000;
    --punctuation: #000;
    --tag: #116329;
    --attr-name: #0550ae;
    --function-name: #6196cc;
    --attr-value: #0a3069;
    --standard: #000;
}

:root [data-theme='dark'] {
    --pre-background: #0f0f0f;
    --pre-main-color: #FFF;
    --punctuation: #FFF;
    --tag: #7ee787;
    --attr-name: #79c0ff;
    --function-name: #6196cc;
    --attr-value: #a5d6ff;
    --standard: #ccc;
}

 code:focus, pre:focus {
 		outline: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0
 }

  code:active, pre:active {
 		outline: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0
 }

code[class*="language-"],
pre[class*="language-"] {
	color: var(--standard);
	background: none;
	font-family: var(--bs-font-monospace);
	font-size: 13px;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 1.5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: var(--pre-background);
	color: var(--pre-main-color);
	border: none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: var(--punctuation)
}

.token.tag {
	color: var(--tag)
}

.token.attr-name,
.token.namespace,
.token.deleted {
	color: var(--attr-name)
}

.token.function-name {
	color: var(--function-name)
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: var(--attr-value);
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}