## MetaExtension google-site-verification

The google-site-verification metatag is used to verify page-ownership for Google Admin Console.

Read more about Googles Site Verification at [Googles official documentation](https://cloud.google.com/identity/docs/verify-domain-web).

## Usage

````html
<meta name="google-site-verification" content="QEc1CoW2YiYac-oW8...">
````

`content` should be a verification code issued by Google for the Google Admin Console.